body {
	background-color: #02527e;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
}
h1 {
	color: #ffffff;
	font-weight: normal;
	text-align: center;
}
ul {
	list-style-type:none;
	padding: 0px;
}
li {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10%;
	padding-right: 10%;
	border-style: solid;
	border-color: #ffffff;
	border-width: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #f2f2f2;
	overflow: auto;
}
#todoList {
	background-color: #ffffff;
	box-shadow: 2px 2px 2px grey;
	border-radius: 5px;
	margin: auto;
	overflow: auto;
	font-size: 14px;
	width: 96vw;
}
#todo {
	display: inline-block;
	word-wrap: break-word;
	width: 72%;
}
#newToDo {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	width: 60%;
}
.button {
	color: #ffffff;
	border-radius: 2px;
	box-shadow: 2px 2px 1px #d9d9d9;
	border: none;
	display: inline-block;
	text-align: center;
	width: 25px;
	float: right;
	padding-top: 4px;
	padding-bottom: 2px;
	font-size: 16px;
}
#done {
	background-color: green;
}
#delete {
	background-color: red;
}
#add {
	float: none;
	margin-left: 5px;
	background-color: #02527e;
}
@media screen and (min-width: 300px) {
	#todoList {
			font-size: 14px;
			width: 96vw;
	}
	#newToDo {
		padding-top: 10px;
		padding-bottom: 10px;
		margin: auto;
		width: 75%;
	}
}
@media screen and (min-width: 550px) {
	#todoList {
			font-size: 14px;
			width: 72vw;
	}
	#newToDo {
		padding-top: 10px;
		padding-bottom: 10px;
		margin: auto;
		width: 60%;
	}
}
@media screen and (min-width: 700px) {
	#todoList {
			font-size: 16px;
			width: 60vw;
	}
}
@media screen and (min-width: 1200px) {
	#todoList {
			font-size: 20px;
			width: 40vw;
	}
}
